.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.env
*.egg-info
dist
build
.coverage
.tox
.nox
*.log
*.sqlite
*.sqlite3
.DS_Store
Thumbs.db
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
*~